<%- include('templates/header') %>

    <main class="form-container">
      <section>
        <div class="login-title">
          <img src="images/autolinks.png"/ width="50%">
          <h1>Autolinks</h1>
          <% if(locals.error) { %>
              <div class="alert alert-danger"><%= error %></div>
          <% } %>
          <% if(locals.success) { %>
              <div class="alert alert-success"><%= success %></div>
          <% } %>
        </div>
        <div>
          <form method="post">
              <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" id="username" value="<%= locals.username || '' %>" class="form-control" placeholder="Please enter your username" />
              </div>
              <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" name="password" id="password" class="form-control" placeholder="Please enter your password" />
              </div>
              <div class="form-group buttons">
                  <button type="submit" class="btn btn-primary">Login</button>
                  <!-- <a href="/app.html" class="btn btn-primary">Login</a> -->
                  <a href="/register" class="btn btn-link register">Register</a>
              </div>
          </form>
        </div>
      </section>
    </main>

<%- include('templates/footer') %>
