<%- include('templates/header') %>

  <main class="form-container">
    <section>
      <h2>Register</h2>
      <% if(locals.error) { %>
          <div class="alert alert-danger"><%= error %></div>
      <% } %>
      <% if(locals.success) { %>
          <div class="alert alert-success"><%= success %></div>
      <% } %>
      <form method="post">
          <!-- <div class="form-group">
              <label for="firstName">First name</label>
              <input type="text" name="firstName" id="firstName" class="form-control" value="<%= locals.firstName || '' %>" required />
          </div>
          <div class="form-group">
              <label for="lastName">Last name</label>
              <input type="text" name="lastName" id="lastName" class="form-control" value="<%= locals.lastName || '' %>" required />
          </div> -->
          <div class="form-group">
              <label for="name">Username</label>
              <input type="text" name="name" id="name" class="form-control" value="<%= locals.name || '' %>" required />
          </div>
          <% if(!locals.success) { %>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" required />
            </div>
            <div class="form-group buttons">
                <button type="submit" class="btn btn-primary">Register</button>
                <a href="/login" class="btn btn-link">Cancel</a>
            </div>
          <% } %>
          <% if(locals.success) { %>
              <a href="/login" class="btn btn-primary">LOGIN</a>
          <% } %>
      </form>
    </section>
  </main>

<%- include('templates/footer') %>
